<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | SNPPR</title>
  </head>
  <body>
    <h1>About</h1>
    <p align="left">SNPPR is a web application that makes the process of sending multiple images and web links to your contacts into a much more intuitive and less frustrating experience.</p>
    <br>
    <p align="left">Just drag-and-drop images from the web or even your local computer into the box on the page and your images are ready to be sent to your contacts.</p>
	<br>
    <p align="left">The images will display on one page complete with a customized URL.</p>
	<br>
    <p align="left">You can even send links to web pages with your images to give a richer and more informative experience.</p>
	<br>
    <p align="left">SNPPR is perfect for sending images of shopping lists, vacation ideas, montages as well as any type of information sharing.</p>
	<br>
    <p align="left">Instead of copying and pasting multiple links, just drag-and-drop the images onto the SNPPR input page and click Submit.</p>
	<br>
    <h3>Never has sharing images and links been easier!</h3>
  </body>
</html>