<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>Have a question, comment or general feedback about SNPPR?</p>
<p>Send an email to us <a href="SNPPR@noemailyet.com">here</a> and we'll respond as soon as we can.</p>
<h3>Thanks for your interest in SNPPR!</h3>