<div>Try it out!!</div>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<div>Drag any image to the drop zone:</div>

<FORM name="drop_list" action="yourpage.php" method="POST" >

<SELECT id="img_list"  size="15">
    <Option value="" >Image List</option>
</SELECT>
</form>

<div id="dropbox">
    DropZone => you could drop any image from any page here
</div>
