<div>Try it out!!</div>

<div>Drag any image to the drop zone:</div>
<!-- <img src="http://www.google.com/logos/2012/Julia_Child-2012-hp.jpg" alt="" />

 -->
<FORM name="drop_list" action="yourpage.php" method="POST" >

<SELECT NAME="img_list"  size="15">
    <Option value="" >Image List</option>
</SELECT>
</form>

<div id="dropbox">
    DropZone => you could drop any image from any page here
</div>
<script language="javascript">
  var imgList = new Array();

  var dropbox = document.getElementById('dropbox');
      dropbox.addEventListener('dragenter', noopHandler, false);
      dropbox.addEventListener('dragexit', noopHandler, false);
      dropbox.addEventListener('dragover', noopHandler, false);
      dropbox.addEventListener('drop', drop, false);
    
    function noopHandler(evt) {
        evt.stopPropagation();
        evt.preventDefault();
    }
    function drop(evt) {
        if(evt.dataTransfer){
        evt.stopPropagation();
        evt.preventDefault(); 
        imgList.push(evt.dataTransfer.getData('URL'));
        addOption_list(imgList);
        alert(imgList[0]);
        }
        else {
          alert("None");
        }
        //alert("Thiis ----"+ imgList[0] + " -- " + imgList.length);
    }

   
    function populateArray(val)
    {

    }
    function addOption(selectbox,text,value )
    {
        var optn = document.createElement("OPTION");
        optn.text = text;
        optn.value = value;
        selectbox.options.add(optn);
    }

    function addOption_list(imgList){
        //alert(imgList.length);
        for (var i=0; i < imgList.length;++i)
        {
                addOption(document.drop_list.img_list, imgList[i], imgList[i]);
                // if(i== dt_month){document.drop_list.img_list.options[i].selected=true;}
        }
    }
</script>
