<div>Try it out!!</div>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<div>Drag any image to the drop zone:</div>

<FORM name="drop_list" action="yourpage.php" method="POST" >

<SELECT id="img_list"  size="15">
    <Option value="" >Image List</option>
</SELECT>
</form>

<div id="dropbox">
    DropZone => you could drop any image from any page here
</div>
<script language="javascript">
    var imgList = new Array();
    var arrVal = new Array();
     var dropbox = document.getElementById('dropbox');
     var slList =document.drop_list.img_list;
     
     //alert("the sl list is -> " + slList + " -> " + document.getElementById('img_list').options.length);
    // dropbox.addEventListener('change', clearOptions(slList), false);

    dropbox.addEventListener('dragenter', noopHandler, false);
    dropbox.addEventListener('dragexit', noopHandler, false);
    dropbox.addEventListener('dragover', noopHandler, false);
    dropbox.addEventListener('drop', drop, false);
     //img_list.addEventListener('change', clearOptions, false);

    function noopHandler(evt) {
        evt.stopPropagation();
        evt.preventDefault();
    }
    function drop(evt) {

        evt.stopPropagation();
        evt.preventDefault(); 
      //  clearOptions(document.getElementById('img_list'));
       
       var linkValue = evt.dataTransfer.getData('Text');
      // alert("The linkValue is -" + linkValue);
       //arrVal =  UpdataArray(linkValue);
       
      //  clearOptions(dropbox);
        imgList.push(linkValue);
        if(imgList.length)
            clearOptions();
        addOption_list(imgList);


        // if(document.getElementById('img_list').options.length > 1)
        // {
        //     alert("Clearing slect box");
        //     clearOptions(dropbox);
        // }
    }

    function UpdataArray(dataVal)
     {
         //alert("The dataVal is -" + dataVal);
         return imgList.push(dataVal);
     }
    function populateArray(val)
    {

    }
    function addOption(selectbox,text,value )
    {
        var optn = document.createElement("OPTION");
        optn.text = text;
        optn.value = value;
        selectbox.options.add(optn);
    }

    function addOption_list(imgList){
        //alert(imgList.length);
        //alert("the add options  list is length" + imgList.length + " " + document.getElementById('img_list').options.length);
        //var arrUnique = unique(imgList);
        // alert("The lenght of array is " + arrUnique.length)
        for (var i=0; i < imgList.length;i++)
        {
                //  alert("Thiis ---- "+ imgList[0] + " -- " + imgList.length);

                addOption(document.drop_list.img_list, imgList[i], imgList[i]);
                // if(i== dt_month){document.drop_list.img_list.options[i].selected=true;}
        }
    }

    function clearOptions()
    {
        //alert("one" + id);
        document.getElementById('img_list').options.length = 0;
        //alert("two");


    }
    function clearOptions(id)
    {
        //alert("one" + id);
        document.getElementById('img_list').options.length = 0;
        //alert("two");


    }


    
    var unique = function(origArr) {

        var newArr = [],
            origLen = origArr.length,
            found, x, y;

        for (x = 0; x < origLen; x++) {
            found = undefined;
            for (y = 0; y < newArr.length; y++) {
                if (origArr[x] === newArr[y]) {
                    found = true;
                    break;
                }
            }
            if (!found) {
                newArr.push(origArr[x]);
            }
        }
        return newArr;
    }
</script>