<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | SNPPR</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
    Experiencing an issue with SNPPR?  Check this page in the very near-future for answers to your questions and information about contacting SNPPR support.
    </p>
  </body>
</html>