<div class="center jumbotron">
  <h1>Welcome to SNPPR</h1>

  <h2>
	SNPPR makes it easier and quicker to share images and links with contacts!
  </h2>
   

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("logo.png", alt: "SNPPR logo"),
            root_path %>
