body {
  text-align: center;
  margin: 0 auto; 
  max-width: 100%;
}

.glyphicon {
  font-size: 3em;
  margin: 10px 10px 10px 10px;
}

.col-md-12, .col-md-6, .col-md-3 {
  width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
  img {
    display: block;
    margin: auto;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    vertical-align: bottom;
  }
  p, h1, h2, h3, h4, h5 {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    height: 2em;
    overflow: scroll;
  } 
}

#dropbox {
  height: 35vh;
  width: 100%;
  border: 2px solid #a3a3a3;
  border-radius: 4px;
  #top-preview {
    height: 75%; 
    border: none;
    overflow: hidden;
  }
  textarea {
    height: 25%;
    width: 100%;
    border: 2px dotted #d3d3d3;
    text-align:center;
  }
}

.images {
  vertical-align: bottom;
}

.show {
  display: inline-block;
}

.none {
  display: none;
}

.none-filled {
  display: none;
}

.user-show-container {
  max-width: 50%;
}